/*

* Override Pages default styles or create your own styles here

*/
@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,600,700');


@font-face {
  font-family: 'dbbl';
  src: url('../font/DBBunjerdXBdv3_2.eot'); /* IE9 Compat Modes */
  src: url('../font/DBBunjerdXBdv3_2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/DBBunjerdXBdv3_2.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/DBBunjerdXBdv3_2.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/DBBunjerdXBdv3_2.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/DBBunjerdXBdv3_2.svg#DBBunjerd') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'dbbn';
  src: url('../font/DBBunjerdXv3_2.eot'); /* IE9 Compat Modes */
  src: url('../font/DBBunjerdXv3_2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/DBBunjerdXv3_2.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/DBBunjerdXv3_2.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/DBBunjerdXv3_2.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/DBBunjerdXv3_2.svg#DBBunjerd') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'dbch';
  src: url('../font/DBChuanPimXv3_2.eot'); /* IE9 Compat Modes */
  src: url('../font/DBChuanPimXv3_2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/DBChuanPimXv3_2.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/DBChuanPimXv3_2.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/DBChuanPimXv3_2.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/DBChuanPimXv3_2.svg#DBChuanPimXv') format('svg'); /* Legacy iOS */
}


body ,h2,h3,h5,h4,h1{
  font-family: 'dbbn', sans-serif;
  /* font-size: 18px; */
}

.demo-form-wysiwyg{
  font-family: 'dbch', sans-serif !important;
  font-weight: bold;
  font-size: 16px !important;
  color:rgb(66, 64, 64) !important;
}

.fn_from{
  font-family: 'dbbl', sans-serif;
  font-size: 24px !important;
}

.btn-primary{
  background-color: #d61a67;
  border-color: #d61a67;
}
.btn-primary:hover{
  background-color: #e54b8a;
  border-color: #e54b8a;
}

.page-sidebar .sidebar-menu .menu-items > li > a {
  font-family: 'dbbl', sans-serif;
  line-height: 40px;
  font-size: 26px;
}

.card{
  margin-bottom: 0px;
}

.card2{
  margin-bottom: 20px;
}

.demo-card-scrollable {
  height: 350px;
}

.card-title{
  width: 100%;
}